body {
  font-family: Helvetica;
  margin: 0;
  font-size: 12px;
}


b {
  color:black;
}

c {
  color:silver;
}

.site-header { 
  padding: .5em 1em;
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;
  background-color: gray;
}

